/* This CSS is based on HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate */

/* ========== h5bp: Opinionated defaults ========== */

html,
button,
input,
select,
textarea {
    color: #222222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i */
::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}
::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
    border: 0;
    border-top: 1px solid #CCCCCC;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {
    vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}


/* ========== h5bp: My custom styles ========== */

/* House style
    main, a, footer bg (pink): #C04384;
    secondary, hover (dark pink): #843860;
    footer-text (light pink): #E4A0C3;
    text, header (black): #313131;
    text (gray): #767676;
    hover (gray): #4E4E4E;
    border (gray): #CCCCCC;
*/

html {
    height: 100%;
}
body {
    color: #313131;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    height: 100%;
}

a {
    color: #C04384;
    text-decoration: none;
    }
    a:hover {
        border-bottom: 1px dotted currentcolor;
        color: #843860;
    }
    a[href^="https://github.com"],
    a[href^="https://twitter.com"],
    a[href$="/rss.xml"] {
    /* Bug: http://stackoverflow.com/questions/8951822
       The attribute-selector doesn't work when style is applied with :before only, 
       causing all <a>s to be targetted. Adding any style for the element without 
       the pseudo-element seems to fix this. */
        font-family: inherit;
    }
    a[href^="https://github.com"]:before {
        content: "\f09b"; /* FontAwesome icon-github */
        font-family: "FontAwesome";
        padding-right: 0.3em;
    }
    a[href^="https://twitter.com"]:before {
        content: "\f099"; /* FontAwesome icon-twitter */
        font-family: "FontAwesome";
        padding-right: 0.3em;
    }
    a[href$="/rss.xml"]:before {
        content: "\f09e"; /* FontAwesome icon-rss */
        font-family: "FontAwesome";
        padding-right: 0.3em;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
}

.container /* On body */ {
    min-height: 100%;
    position: relative;
}

.header { /* On body > .container > div */
    background-color: #313131;
    background-color: rgba(30, 30, 30, 0.9); /* Equivalent of the #313131; */
    height: 2.5em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    }
    .header a {
        color: white;
    }
    .header header {
        font-family: "Noto Sans", sans-serif;
        height: 100%;
        letter-spacing: 0.2em;
        line-height: 1em;
        margin: 0 auto;
        max-width: 40em;
        min-width: 20em;
        padding: 0 2em;
        position: relative;
        text-transform: uppercase;
        z-index: 1; /* For lte IE8 */
        }
        .header h2,
        .header nav {
            float: left;
            font-size: 0.8em;
            margin: 0;
            padding: 1em 0em;
        }
        .header h2 {
            width: 50%;
        }
        .header nav {
            text-align: right;
            width: 50%;
            }
            .header nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                }
                .header nav li {
                    display: inline;
                    margin-left: 0.5em;
                    }
                    .header nav li.active a {
                        border-bottom: 1px dotted currentcolor;
                    }

.content { /* On body > .container > div */
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 40em;
    min-width: 20em;
    padding: 2em;
    padding-top: 3.5em; /* Height of header + 1em */
    padding-bottom: 15em; /* Height of footer + 2em */
    }
    .content h1 {
        line-height: 1.2em;
        margin-top: 0.5em;  
    }
    .content .subtitle { /* On body > .container > .content > p */
        color: #767676;
        font-family: "Noto Sans", sans-serif;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        padding: 0 1em 1em;
        text-transform: uppercase;
    }
    .content .index { /* On body > .container > .content > ol */
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        .index article {
            border-top: 1px dashed #CCCCCC;
            margin: 0 -0.5em; /* Extend border left/right */
            padding: 0.5em;
            }
            .index h2 {
                font-size: 1.4em;
                line-height: 1.2em;
                margin: 0;
            }
            .index p {
                margin: 0.5em 0 0;
            }
            .index time {
                color: #767676;
                display: block;
                float: right;
                font-family: "Noto Sans", sans-serif;
                font-size: 0.8em;
                letter-spacing: 0.2em;
                padding: 0 1em;
                text-transform: uppercase;
            }

    .single { /* On body > .container > .content > article > section */
        }
        .single footer { /* Post metadata */
            color: #767676;
            font-family: "Noto Sans", sans-serif;
            font-size: 0.8em;
            letter-spacing: 0.2em;
            margin: -1.5em 0 2em; /* Closer to h1 */
            padding: 1em;
            text-transform: uppercase;
            }
            .single footer a {
                color: currentcolor;
            }
            .single time,
            .single .authors {
                display: inline; /* Will ignore margin and padding on a .metadata-list */
            }
            .metadata-list { /* On body > .container > .content > article > section > footer > ul */
                margin: 0.5em 0 0;
                padding: 0;
                }
                .metadata-list li {
                    display: inline;
                    list-style: none;
                    }
                    .metadata-list li:after {
                        content: ", ";
                    }
                    .metadata-list li:last-child:after {
                        content: "";
                    }
        .single h2 {
            font-size: 1.6em;
            line-height: 1.2em;
        }
        .single h3 {
            border-bottom: 0.1em solid currentcolor;
            color: #767676;
            font-size: 1.4em;
            line-height: 1.2em;
            padding-bottom: 0.2em;
        }
        .single h4 {
            font-size: 1.2em;
            font-style: italic;
            line-height: 1.2em;
        }
        .single img {
            clear: both;
            max-width: 100%;
        }
        .single blockquote {
            color: #767676;
            padding: 0 1em;
        }
        .single code {
            background-color: #f7f7f7;
            border-radius: 0.3em;
            font-size: 85%;
            overflow: auto;
            padding: 0.2em 0.5em;
            white-space: nowrap;
        }
        .single pre {
            background-color: #f7f7f7;
            border-radius: 0.3em;
            font-size: 80%;
            overflow: auto;
            padding: 1em;
            }
            .single pre code {
                border: none;
                background: transparent;
                font-size: 1em;
                padding: 0;
                white-space: pre;
            }
        .single table {
            border-collapse: collapse;
            padding: 0;
            }
            .single table tr {
                margin: 0;
                padding: 0;
            }
            .single table tr:nth-child(2n) {
                background-color: #F0F0F0;
            }
            .single table tr th {
                border: 1px solid #CCCCCC;
                font-weight: bold;
                margin: 0;
                padding: 0.3em 1em;
            }
            .single table tr td {
                border: 1px solid #CCCCCC;
                margin: 0;
                padding: 0.3em 1em;
            }
        .single .footnote hr {
            border: none;
            border-top: 1px dashed #CCCCCC;
            margin: 0 -0.5em; /* Extend border left/right */
        }

    .paginator { /* On body > .container > .content */
        color: #767676;
        font-family: "Noto Sans", sans-serif;
        line-height: 1.2em;
        margin-bottom: 1em;
        text-align: center;
        }
        .paginator a {
            color: #767676;
            display: inline-block;
            font-size: 1em;
            padding: 0 1em;
            }
            .paginator a:hover {
                border: none;
                color: #4E4E4E;
            }
            .paginator a span {
                display: none;
            }
        .paginator > span {
            font-size: 0.8em;
            letter-spacing: 0.3em;
            text-transform: uppercase;
        }

    .comments { /* On body > .container > .content > article > section */
        border-top: 1px dashed #CCCCCC;
        margin: 0 -0.5em; /* Extend border left/right */
        padding: 0.5em;
        }
        .twitter-share-button {
            float: right;
            margin-top: 1.8em;
        }

.footer { /* On body > .container > div */
    background-color: #C04384;
    border-top: solid 0.5em #843860;
    bottom: 0;
    height: 13em;
    position: absolute;
    width: 100%;
    }
    .footer a {
        color: white;
        }
        .footer a:hover {
            border: none;
            text-decoration: underline;
        }
    .footer footer {
        color: #E4A0C3;
        font-family: "Noto Sans", sans-serif;
        line-height: 1em;
        margin: 0 auto;
        max-width: 40em;
        min-width: 20em;
        padding: 2em 2em 0.5em;
        }
        .footer div {
            float: left;
            width: 33%;
            }
            .footer div img {
                margin-top: 2em;
                width: 90%;
            }
            .footer div h2 {
                font-size: 0.8em;
                letter-spacing: 0.2em;
                line-height: 1.2em;
                margin: 0;
                padding: 0 0 1em;
                text-transform: uppercase;
            }
            .footer div ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 1em;
            }
            .footer div li {
                font-size: 0.8em;
                padding: 0.3em 0;
            }
        .footer p.disclaimer {
            clear: both;
            font-family: Arial, sans-serif;
            font-size: 0.6em;
            margin: 0;
            padding-top: 2em;
        }


/* ========== My media queries ========== */

@media only screen and (min-width: 48em) {
/* Default size */
    .single .team { /* About page */
        clear: both;
        }
        .single .team img {
            float: left;
            margin-bottom: 1.2em;
            margin-right: 1.2em;
            width: 200px;
        }
        .single .team h3 {
            clear: both;
        }
}

@media only screen and (max-width: 48em) {
/* Medium size */

    .subtitle, /* Index subtitle */
    .index p, /* Article description */
    .footer img, /* Footer logo */
    .footer p.disclaimer { /* Footer disclaimer */
        display: none;
    }
    .content {
        padding-bottom: 13em; /* -2 em */ 
    }
    .footer {
        height: 11em; /* -2 em */
        }
        .footer div {
            width: 50%;
        }
}

@media only screen and (max-width: 36em) {
/* Small size */

    .header {
        min-width: 24em; /* Necessary for relative position: 20em + padding */
        position: relative;
    }
    .content {
        padding-top: 1em;
    }
    .content h1.title, /* Index title */
    .index time, /* Article date */
    .footer div h2 { /* Footer titles */
        display: none;
    }
}


/* ========== My pygments: https://github.com/richleland/pygments-css/blob/master/github.css ========== */

.highlight .c { color: #999988; font-style: italic }
.highlight .err { color: #a61717; background-color: #e3d2d2 }
.highlight .k { color: #000000; font-weight: bold }
.highlight .o { color: #000000; font-weight: bold }
.highlight .cm { color: #999988; font-style: italic }
.highlight .cp { color: #999999; font-weight: bold; font-style: italic }
.highlight .c1 { color: #999988; font-style: italic }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic }
.highlight .gd { color: #000000; background-color: #ffdddd }
.highlight .ge { color: #000000; font-style: italic }
.highlight .gr { color: #aa0000 }
.highlight .gh { color: #999999 }
.highlight .gi { color: #000000; background-color: #ddffdd }
.highlight .go { color: #888888 }
.highlight .gp { color: #555555 }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #aaaaaa }
.highlight .gt { color: #aa0000 }
.highlight .kc { color: #000000; font-weight: bold }
.highlight .kd { color: #000000; font-weight: bold }
.highlight .kn { color: #000000; font-weight: bold }
.highlight .kp { color: #000000; font-weight: bold }
.highlight .kr { color: #000000; font-weight: bold }
.highlight .kt { color: #445588; font-weight: bold }
.highlight .m { color: #009999 }
.highlight .s { color: #d01040 }
.highlight .na { color: #008080 }
.highlight .nb { color: #0086B3 }
.highlight .nc { color: #445588; font-weight: bold }
.highlight .no { color: #008080 }
.highlight .nd { color: #3c5d5d; font-weight: bold }
.highlight .ni { color: #800080 }
.highlight .ne { color: #990000; font-weight: bold }
.highlight .nf { color: #990000; font-weight: bold }
.highlight .nl { color: #990000; font-weight: bold }
.highlight .nn { color: #555555 }
.highlight .nt { color: #000080 }
.highlight .nv { color: #008080 }
.highlight .ow { color: #000000; font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #009999 }
.highlight .mh { color: #009999 }
.highlight .mi { color: #009999 }
.highlight .mo { color: #009999 }
.highlight .sb { color: #d01040 }
.highlight .sc { color: #d01040 }
.highlight .sd { color: #d01040 }
.highlight .s2 { color: #d01040 }
.highlight .se { color: #d01040 }
.highlight .sh { color: #d01040 }
.highlight .si { color: #d01040 }
.highlight .sx { color: #d01040 }
.highlight .sr { color: #009926 }
.highlight .s1 { color: #d01040 }
.highlight .ss { color: #990073 }
.highlight .bp { color: #999999 }
.highlight .vc { color: #008080 }
.highlight .vg { color: #008080 }
.highlight .vi { color: #008080 }
.highlight .il { color: #009999 }


/* ========== h5bp: Helper classes ========== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    }
    .ir:before {
        content: "";
        display: block;
        height: 150%;
        width: 0;
    }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }
    /* Extends the .visuallyhidden class to allow the element to be focusable 
       when navigated to via the keyboard: h5bp.com/p */
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Clearfix: contain floats
   For modern browsers
   1. The space content is one way to avoid an Opera bug when the
      `contenteditable` attribute is included anywhere else in the document.
      Otherwise it causes space to appear at the top and bottom of elements
      that receive the `clearfix` class.
   2. The use of `table` rather than `block` is only necessary if using
      `:before` to contain the top-margins of child elements. */
.clearfix {
    *zoom: 1; /* For IE 6/7 only: include this rule to trigger hasLayout and contain floats. */
    }
    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    .clearfix:after {
        clear: both;
    }


/* ========== h5bp: Print styles ========== */

@media print {
/* Inlined to avoid required HTTP connection: h5bp.com/r */
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* Don't show links for images, or javascript/internal links */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
